<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="chatroom">
        <h1>CHAT-ROOM</h1>
        <%= simple_form_for @message do |f| %>
        <%= f.input :pool_id, as: :hidden , :input_html =>{:value => @pool.id} %>
        <%= f.input :user_id, as: :hidden , :input_html => {:value => current_user.id} %>
        <%= f.input :message, input_html: {id: "your-message"} %>
        <%= f.button :submit, :class => "send btn btn-primary submitbutton"   %>
        <% end %>
        <div class="row chatbox">
          <% @pool.messages.each do |message| %>
          <div id="messages">
            <p><%= message.user.email%> : <%= message.message %>
            </p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
