<div class ="container">
  <div class ="wrapper">
    <div class="line-separator"></div>

    <div class="declare-winner">

    <P>AND THE WINNER IS...</p>

      <% if current_user == @pool.user %>
        <div class = "edit-winner">
          <i class='fa fa-pencil' id="admin-change-winner"></i>
         </div>
      <% end %>

    <% if current_user == @pool.user %>
    <div class="hiddeable">
      <label class="wrapper" for="selections">Declare the Winner
      </label>

      <%= simple_form_for @pool, url: declare_winner_path do |f| %>
        <div class="button dropdown">
          <select id="declarewinner" class="form-control select optional" name="pool[selection_id]" id="pool_selection_id">
            <option value="" disabled selected> Select the Winning Bet: </option>
            <%= @pool.selections.each do |selection| %>
            <option value="<%= selection.id %>"><%= selection.title %></option>
            <% end %>
          </select>
        </div>

        <%= f.submit "Confirm", class: "btn btn-primary selection-submit" %>
      <% end %>
    </div>
    <% end %>


      <div class="winner-output" id="winner">
        <% if @pool.selections.where(winning_selection: true).count > 0 %>
          <p><%= @winner.title + "!" %></p>
        <% else %>
        <p><i> No Winner Yet!</i></p>
        <% end %>
      </div>
    </div>

    <div class="line-separator"></div>

  </div>
</div>




<%= content_for(:after_js) do %>
<script>
// $(function myFunction() {
//     var x;
//     if (confirm("You have chosen") == true) {
//         x = "You pressed OK!";
//     } else {
//         x = "You pressed Cancel!";
//     }
//     document.getElementById("confirm-winner").innerHTML = x;
// }
//  });

  $(function() {
    // $('#declarewinner').change(function(){
    //   $('.selections').hide();
    //   $('#' + $(this).val()).show();
    // });

    if (<%= Time.now < @pool.end_date %>) {
      $('.hiddeable').show();
      $(".selection-submit").prop('disabled', true);
      document.getElementById("declarewinner").disabled = true;
    };

    // $('.edit_pool').submit(function(e) {
    //   confirm('You have selected: ' + $('#declarewinner option:selected').text() + ' as the winner. Are you sure?')
    //   $('.hiddeable').hide();
    // })

    $('#admin-change-winner').click(function() {
      $('.hiddeable').show();
    });
    var output = $('#winner').text().trim();
    if (output != "") {
      $('.hiddeable').hide();
    }
  });
</script>
<% end %>
