
<div>
<form novalidate="novalidate" class="simple_form edit_pool" id="edit_pool_<%= @pool.id %>" action="/pools/<%= @pool.id %>/declare_winner" accept-charset="UTF-8" method="post">
  <label class="wrapper" for="selections">Declare Winning Selection:</label>
  <div class="button dropdown" placeholder="Select the Winning Choice">
    <select id="declarewinner" class="form-control select optional" name="pool[selection_id]" id="pool_selection_id">
      <%= @pool.selections.each do |selection| %>
      <hr>
      <option value="<%= selection.id %>"><%= selection.title %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" name="commit" value="Declare winner!" class="btn btn-primary" data-disable-with="Declare winner!">
  <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="rzJWaLodhFTcxCw/JgIDOBy5egK1P9qAP8tS/cw8XnQqFfEMpqiLHnRXIVhNUpTWwCz1zD9YEEUZXgN/eDGzWA==">
</form>
</div>

<div class="output" id="winner">
  <% if @winner %>
  <h1><%= @winner + " Wins!" %></h1>
  <% end %>
</div>

