<div class="pool-invite-container hidden">
  <div class ="wrapper">
    <div class="line-separator"></div>

    <div id="share" class="invite-users">

      <% if current_user == @pool.user %>
        <h2>INVITE OTHERS TO JOIN</h2>
          <%= simple_form_for(@pool) do |f| %>
            <%= f.simple_fields_for :invites do |ff| %>
              <%= render 'invite_fields', f: ff %>
            <% end %>

      <div class="links">
          <%= link_to_add_association f, :invites do %>
          <i class='fa fa-plus' id="add-pool-user"></i>
        <% end %>

        <%= f.submit class: "btn btn-primary update-users" %>
      </div>

        <% end %>
      <% end %>

    <div class="line-separator"></div>

  </div>
</div>



<%= content_for(:after_js) do %>
<script>

  $(function() {


    if (<%= Time.now > @pool.end_date %>) {
      $(".update-users").prop('disabled', true);
      $()
    };


    $('#add-pool-user').click(function() {
      $('.hiddeable').show();
    });


    if (<%= Time.now < @pool.end_date %>) {
      console.log('hiiii')
      $('.pool-invite-container').removeClass('hidden');
    }
    if (<%= Time.now > @pool.end_date %>) {
      $(".fa-times").prop('disabled', true);
    };


  });

</script>
<% end %>
