<div class="pool-invite-container">
  <div id="share" class="invite-users">

    <div class="line-separator"></div>

  <h3>Invite Others to Join</h3>
    <%= simple_form_for(@pool) do |f| %>
    <%= f.simple_fields_for :invites do |ff| %>

    <%= render 'invite_fields', f: ff %>
    <% end %>

      <div class="links">
      <%= link_to_add_association f, :invites do %>
      <i class="fa fa-plus"></i>
      <% end %>

      <%= f.submit class: "btn btn-primary update-users" %>
    </div>
    <% end %>

    <div class="line-separator"></div>

  </div>
</div>



<!-- <li class="list-group-item" data-color="success">Dapibus ac facilisis in</li>
<li class="list-group-item" data-color="info">Morbi leo risus</li>
<li class="list-group-item" data-color="warning">Porta ac consectetur ac</li>
<li class="list-group-item" data-color="danger">Vestibulum at eros</li> -->

<%#= simple_form_for(@users) do |f|%>
<%#= f.submit "Accept", class: "btn btn-primary" %>
<%#= f.submit "Decline", class: "btn btn-danger" %>
<%# end %>
