
<div class="row">
  <%= simple_form_for(@bet) do |f| %>

  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  <%= f.input :pool_id, :as => :hidden, :input_html => { :value => @pool.id }
  %>
<%  @pool.selections.each do |selection|    %>
  <div class="col-xs-12 col-md-6">
    <%= f.input :selection_id,     as: :radio_buttons, collection: [] << selection, :item_wrapper_class => 'btn btn-lg optionselection' %>
  </div>
  <% end %>
  <%= f.submit 'Confirm your bet' , :class => 'tn btn-lg btn-success confirmbutton' %>
  <% end %>
</div>



