
<% if @pool.selections.where(winning_selection: true).count > 0 %>
  <div class="winner-alert hidden" style="background-color: green;">
  🏆 <%= @winner.title + "!" %> has won 🏆
  </div>
<% else %>
  <div class="winner-alert hidden">
  🏆 Time to <a href="#winner">choose the winner</a> 🏆
  </div>
<% end %>




<div class="container" id="pool-page">
 <!--  <div class="flip-container" ontouchstart="this.classList.toggle('hover');"> -->
    <div class="row">
      <div class="col-xs-12">
        <div class = settings>
        </div>
        <div class="bet-description">
          <h1 class="text-center"><%= @pool.title %></h1>
          <h4 class="text-center"><%= @pool.description %></h4>

          <div class="pool-section-container first">
            <ul class="list-unstyled list-inline tags" style="margin: 0px">
              <li><%=image_tag "group.png", class: "bet-icon"%><span class="nb_people"><%= @bets %></span></li>
              <li><%=image_tag "gold-ingots.png", class: "bet-icon"%><span class="jackpot"><%= @jackpot %></span> €</li>
              <li><%=image_tag "Clock.png", class: "bet-icon"%><span id="pool-<%=@pool.id%>"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center dynamic participants">
      <%= render partial: 'participants' %>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <% if @pool.bets.where(user_id: current_user.id).any? %>
          <div class="pop-up">You just placed a bet on <%= @my_selection.first.title %>, good luck!</div>
        <% end %>
        <div>
          <%= render 'placebet', my_selection: @my_selection %>
        </div>

        <% if false %>
          <div class="invite">
            <%= render 'invite' %>
          </div>

          <div class="dynamic">
            <%= render partial: 'chatroom' %>
          </div>
        <% end %>

        <div id="winner">
          <%= render 'confirm_winner' %>
        </div>
      </div>
    </div>
<!--   </div> -->
</div>

  <div class="share-links-container">
  <%= render partial: 'share_links' %>
  </div>


<!-- This is JS for the selections to be unclickable after countdown = 0 -->
<% content_for(:after_js) do %>
<script>
  $(function(){

    $("#pool-<%= @pool.id %>").countdown("<%= @pool.end_date %>", function(event) {
    // Countdown text logic
    $(this).text(
      event.strftime('%Dd %H:%M:%S')
      );

    //  if countdown if finished
    $(this).on('finish.countdown', function(){
      // add bet closed text insead of the countdown numbers
      $("#pool-<%= @pool.id %>").html("Bet closed").addClass("finish");
      $(".winner-alert").removeClass("hidden");
      document.getElementById("declarewinner").disabled = false;
      $("#winner-selection-submit").removeAttr("disabled");

      // if I click on the selection buttons, shake the bet closed and prevent clicking
      $(".bet-selection").click(function(e){
        e.preventDefault();
        $("#pool-<%= @pool.id %>").effect( "shake", {times:4}, 600 );
      });
      // if I click on submit selections, prevent the submission
      $(".confirmbutton").click(function(e){
        e.preventDefault();
        $("#pool-<%= @pool.id %>").effect( "shake", {times:4}, 600 );
      })

    });
  })

  // if I click on selection of bet
  $(".bet-selection").click(function(){
    // if the bet is not finished (hacky code)
    $(".confirmbutton").addClass("active");
    var hasSelection = <%=  @my_selection.any? %>;
    if (!hasSelection && $("#pool-<%= @pool.id %>").text() != "Bet closed"){
      // make buttons green with active class
      $(".bet-selection").removeClass("active");
      $(this).toggleClass("active");
      // $(".confirmbutton").addClass("active");
    }
  });

  if ($(".bet-selection").hasClass("active")){

    $(".bet-selections").click(function(e){
      e.preventDefault()
    });
    $(".confirmbutton").hide()
  }

  $('#share select').selectpicker();
  $('#share').on('cocoon:after-insert', function(e, insertedItem) {
    $('#share select').selectpicker();
  });


  var invited = <%= @invited %>;
  var userValidation = <%= current_user == @pool.user %>
  if (invited != true && userValidation != true) {
    $(".confirmbutton").click(function(e){
      e.preventDefault();
      alert("We're sorry but you were not invited to this bet");
    });
  }

  setInterval(function(){
    $.get("<%= participants_pool_path(@pool) %>", function() {});
  }, 3000);

  if ($(".confirmbutton").hasClass("prevent-negative")){

  $(".confirmbutton").click(function(e){
    e.preventDefault()
    swal({
    title: "Please top-up your account.",
    text: "You don't have enough funds to make this bet.",
    imageUrl: "<%= image_path "Cash.png" %>"
    });
  });
  }

});
</script>
<% end %>
