  <div class="container">
  <div class="row ">
    <div class="col-xs-12">
      <div class="bet-description">
        <h1><%= @pool.title %></h1>
        <ul class="list-unstyled list-inline tags">
          <li><%=image_tag "group.png", class: "bet-icon"%><%= @bets %></li>
          <li><%=image_tag "Cash.png", class: "bet-icon"%><%= @jackpot %> €</li>
          <li><%=image_tag "Clock.png", class: "bet-icon"%><span id="pool-<%=@pool.id%>"></span></li>
        </ul>
        <hr>
        <h4 class="text-center"><%= @pool.description %></h4>
        <hr>
      </div>
    </div>
  </div>
  <div class ="row">


  </div>
    <%= render 'placebet', my_selection: @my_selection %>
    <% if current_user == @pool.user %>
    <%= render 'confirm_winner' %>
    <% end %>
  </div>
  <div class="dynamic"><%= render 'chatroom' %></div>



<!-- This is JS for the selections to be unclickable after countdown = 0 -->
<% content_for(:after_js) do %>
<script>
$(function(){

  $("#pool-<%= @pool.id %>").countdown("<%= @pool.end_date %>", function(event) {
    // Countdown text logic
    $(this).text(
      event.strftime('%Dd %H:%M:%S')
      );

    //  if countdown if finished
    $(this).on('finish.countdown', function(){
      // add bet closed text insead of the countdown numbers
      $("#pool-<%= @pool.id %>").html("Bet closed").addClass("finish");

      // if I click on the selection buttons, shake the bet closed and prevent clicking
      $(".bet-selection").click(function(e){
        e.preventDefault();
        $("#pool-<%= @pool.id %>").effect( "shake", {times:4}, 600 );
      });
      // if I click on submit selections, prevent the submission
      $(".confirmbutton").click(function(e){
        e.preventDefault();
        $("#pool-<%= @pool.id %>").effect( "shake", {times:4}, 600 );
      })

    });
  })

  // if I click on selection of bet
  $(".bet-selection").click(function(){
    // if the bet is not finished (hacky code)
    if ($("#pool-<%= @pool.id %>").text() != "Bet closed"){
      // make buttons green with active class
      $(".bet-selection").removeClass("active");
      $(this).toggleClass("active");
      $(".confirmbutton").addClass("active");
    }
  });

  if ($(".bet-selection").hasClass("active")){

    $(".bet-selections").click(function(e){
        e.preventDefault()
      });
    $(".confirmbutton").hide()
  }

});
</script>
<% end %>
