<div class="row">
    <% @bets.each do |bet| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description">
        <%= link_to "", bet_path(bet), class: 'card-link' %>

          <h3 class="text-center"><%= bet.selection.pool.title %> </h3>
          <ul class="list-unstyled list-inline">
            <li><%=image_tag "group.png", class: "card-icon"%> <%= @bets.where(pool_id: bet.selection.pool_id).count %></li>
            <li><%=image_tag "Cash.png", class: "card-icon"%><%= bet.selection.pool.stake %></li>

          </ul>
          <hr>
          <div class="text-center">
          <p><%= bet.selection.pool.description %></p>
          </div>
        </div>
      </div>
    </div>

    <% content_for(:after_js) do %>
    <script type="text/javascript">
      $("#bet.selection.pool-<%=bet.selection.pool.id%>")
      .countdown("<%= bet.selection.pool.end_date %>", function(event) {
        $(this).text(
          event.strftime('%Dd %H:%M:%S')
          );
        $(this).on('finish.countdown', function(){
        $("#bet.selection.pool-<%=bet.selection.pool.id%>").html("Bet closed").addClass("finish");
        });
      })
    </script>
    <% end %>
    <% end %>
  </div>
