<div class="container">
  <div class="row ">
    <div class="col-xs-12">
      <div class="bettitle">
       <h1><%= @pool.title %></h1>
     </div>

     <div class="betsshow-details">
       <ul class="list-inline">
         <li>
          <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        </li>
        <li>
          <h1>
           <%= @bet.user.id   %>
         </h1>
       </li>
     </ul>
     <ul class="list-inline">
       <li>
        <i class="fa fa-money fa-3x" aria-hidden="true"></i>
      </li>
      <li>
        <h1><%= @bet.pool.stake %></h1>
      </li>
    </ul>
  </div>

  <div class="HSVHSV">
  </div>

  <div class="descriptionbet">
    <h1><%= @bet.pool.description %></h1>
  </div>

  <% @pool.selections.each do |selection| %>
  <div class=" col-xs-6 col-md-4">
    <div class="betselections">
    <% simple_form_for [selection, @bet] do |f| %>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
   </div>
 </div>
 <% end %>

</div>
</div>
</div>

