<div class="row">
  <% @bets.each do |bet| %>
  <% if bet.pool.end_date >= DateTime.now %>
   <div class="col-xs-12 col-sm-4">
  <div class="card">
      <div class="card-description">
        <%= link_to "", bet_path(bet), class: 'card-link' %>

        <h3 class="text-center"><%= bet.pool.title %> </h3>
        <ul class="list-unstyled list-inline">
          <li><%=image_tag "group.png", class: "card-icon"%> <%= @bets.where(pool_id: bet.pool_id).count %></li>
          <li><%=image_tag "Cash.png", class: "card-icon"%><%= bet.pool.stake %></li>

        </ul>
        <hr>
        <div class="text-center">
          <p><%= bet.pool.description %></p>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <% if bet.selection.winning_selection %>

  <div class="col-xs-12 col-sm-4">
  <div class="winning_selectionbet">
      <div class="card-description">
        <%= link_to "", bet_path(bet), class: 'card-link' %>

        <h3 class="text-center"><%= bet.pool.title %> </h3>
        <ul class="list-unstyled list-inline">
          <li><%=image_tag "group.png", class: "card-icon"%> <%= @bets.where(pool_id: bet.pool_id).count %></li>
          <li><%=image_tag "Cash.png", class: "card-icon"%><%= bet.pool.stake %></li>

        </ul>
        <hr>
        <div class="text-center">
          <p><%= bet.pool.description %></p>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class="col-xs-12 col-sm-4">
    <div class="losing_selectionbet">
      <div class="card-description">
        <%= link_to "", bet_path(bet), class: 'card-link' %>

        <h3 class="text-center"><%= bet.pool.title %> </h3>
        <ul class="list-unstyled list-inline">
          <li><%=image_tag "group.png", class: "card-icon"%> <%= @bets.where(pool_id: bet.pool_id).count %></li>
          <li><%=image_tag "Cash.png", class: "card-icon"%><%= bet.pool.stake %></li>

        </ul>
        <hr>
        <div class="text-center">
          <p><%= bet.pool.description %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
