
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h3 class ="tagline">Start your own bet now!</h3>
    </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="banner-create">
        <%= simple_form_for(@pool) do |f| %>
        <%= f.input :title, label: false, required: false, input_html:{class:"bet-title first border-change"}, placeholder: "Give a title to your bet..." %>
        <div class="fake-btn btn btn-primary">Create a bet</div>
        <div class="fake-div hidden">
          <div class="body-tabs">
            <ul class="tabs">
              <li class="tab-link current" data-tab="description">
                <%=image_tag "file.png", class:"bet_creation-icon"%>
                <p>1. terms</p>
              </li>
              <li class="tab-link" data-tab="selections"><%=image_tag "list.png", class:"bet_creation-icon"%>
                <p>2. choices</p>
              </li>
              <li class="tab-link" data-tab="stake"><%=image_tag "Cash.png", class:"bet_creation-icon"%>
                <p>3. stake</p>
              </li>
              <li class="tab-link" data-tab="timer"><%=image_tag "Clock.png", class:"bet_creation-icon"%>
                <p>4. timer</p>
              </li>
              <li class="tab-link last-tab" data-tab="share"><%=image_tag "Shape.png", class:"bet_creation-icon"%>
                <p>5. share</p>
              </li>
            </ul>

            <div id="description" class="tab-content current">
              <p>What are the rules of the game?</p>
              <%= f.input :description, label:false, input_html:{class:"description_input second"}, placeholder: "e.g. first team to reach 10 goals" %>
            </div>

            <div id="selections" class="tab-content">
              <p>What are the possible outcomes?</p>
              <%= f.simple_fields_for :selections do |ff| %>
              <%= render 'selection_fields', f: ff %>
              <% end %>

              <div class="links">
                <%= link_to_add_association f, :selections do %>
                <i class="fa fa-plus"></i>
                <% end %>
              </div>
            </div>

            <div id="stake" class="tab-content">
              <div class="row">
                  <div class="col-xs-12">
                    <p>For how much are we playing?</p>
                    <%= f.input :stake, label:false, input_html:{class:"fourth"}, placeholder: "e.g. 5€", required: true %>
                  </div>
              </div>
            </div>

            <div id="timer" class="tab-content">
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-12" id="pool-stake">
                    <p>Until when are bets accepted?</p>
                    <%= f.input :end_date, as: :string, label: false, placeholder: "choose a date and time", required: true %>
                  </div>
                </div>
              </div>
            </div>

            <div id="share" class="tab-content">
              <p>Who do you want to invite?</p>
              <%= f.simple_fields_for :invites do |ff| %>
              <%= render 'invite_fields', f: ff %>
              <% end %>
              <div class="links">
                <%= link_to_add_association f, :invites do %>
                <i class="fa fa-plus"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="real-submit hidden">
          <%= f.button :submit, "Start betting!", disabled: true, class: 'btn btn-primary bold-text real-submit' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'poolcard' %>
</div>




<%= content_for :after_js do %>
<script>

//date picker
  $('#pool_end_date').datetimepicker({
    format: 'DD/MM/YYYY HH:mm',
    minDate: new Date()
  })

//validation on create bet
  $('form').click(function() {
    if( $('#pool_title').val() != "" && $('#pool_description').val() != "" && $('#selections').find( ".nested-fields" ).length >= 2 && $('#pool_stake').val() != "" && $('#pool_end_date').val() != "" && $('#share').find( ".nested-fields" ).length >= 1) {
      $('.real-submit').prop('disabled', false);
    }
  })

  $('#share').on('cocoon:after-insert', function(e, insertedItem) {
    $('#share select').selectpicker();
  });
</script>
<% end %>
