<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class="payement box text-center">
      <h3>Deposit for <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
      <%= form_tag order_payments_path(@order) do %>
        <article>
          <label class="balance">
            <%= image_tag "Cash.png" %>
            <span><%= humanized_money_with_symbol(@order.balance) %></span>
          </label>
        </article>


        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Deposit"
          data-email="<%= current_user.email %>"
          data-description="User - <%=  "#{@order.user.first_name} #{@order.user.last_name}" %>"
          data-amount="<%= @order.balance_cents %>"
          data-currency="<%= @order.balance.currency %>"></script>

      <% end %>
      </div>
    </div>
  </div>
</div>
