<!DOCTYPE html>
<html>
  <head>
    <title>Bet Friends Forever</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta property="og:title" content="Bet Friends Forever - When social event become a thrilling experience">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="<%= image_path 'BFF-Cover.png' %>">
    <meta property="og:description" content="Bet Friends Forever is the best social betting website. Checkout by yourself and start betting with friends!">
    <meta property="og:site_name" content="Bet Friends Forever"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#92a6b2">

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
